body, h1, h2, h3, h4, h5, h6, p, div, ul, li {                      
   margin: 0;                      
   padding: 0;                    
} 
body {
    background-color: #BC3023;
}
.box_1 {
    width: 90%;
    height: 590px;
    margin: 5px auto;
}
.box_1 img {
    width: 100%;
    height: 100%;
    position: relative;
}
.box_1 h1 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 80px;
    color: #fff;
    position: absolute;
    bottom: 390px;
    left: 95px;
}
.list > ul {
    list-style: none;
    position: absolute;
    bottom: 15%;
}
.list > ul > li {
    display: inline-block;
    margin-left: 30px;
}
.list > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: 'The Girl Next Door', cursive;
    font-size: 40px;
    background-color: rgba(160, 63, 64, 0.6);
    border-radius: 50px;
    padding: 3px 20px 0 20px;
}
.list > ul > li > a:hover {
    color: #eabdc3;
}
.footer {
    margin: 0;
    text-align: center;
    font-family: 'The Girl Next Door', cursive;
    color: white;
    font-size: 15px;
}
.footer > p > a {
    text-decoration: none;
    color: #d9b2b2;
}
.footer > p > a:hover {
    color: #fff;
}
/*.current {
    background-color: rgba(160, 63, 64, 0.9);
    border-radius: 50px;
}*/